<!--
  Generated template for the SecondPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title style="text-align:center">Second Page</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
	<button ion-button (click)="Openhomepage()"> Back To Home </button><br>
</ion-content>
