<ion-header>
  <ion-navbar>
    <ion-title style="text-align: center">Home Page</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
	<button ion-button> Click This Button </button><br>
  	<button ion-button (click)="Openpage1()"> Go To First Page </button>
</ion-content>
